
header {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}




#daysoftheweek {
    padding:5px;
    border:solid;
}

.day {
    display: flex;
    padding:5px;
    margin:5px;
    border:solid;
    border-width: 1px;
    border-color: rgb(2, 45, 17);
    border-radius: 4px;
    background-color: #f2f2f2;
    justify-content: space-around;
    align-items: center;
}

.weekday {
    border:solid;
    padding: 5px;
    width:10%;
    text-align:center;
}

.input {
    margin-left:10px;
    width:90%;
    
}

#test {
    padding: 50px;
    margin-right: 35%;
    margin-left: 35%;
    display: flex;
    justify-content: space-around;

}


#save {
    padding: 20px;
    font-size: 30px;
   
    
    border-radius: 4px;
    border-color: black;
    border-width: 3px;
    
}

#reset {
    padding: 20px;
    font-size: 30px;

    
    border-radius: 4px;
    border-color: black;
    border-width: 3px;
}

h2 {
    width: 100%;

}

.header {
    height: 100px;
    margin-top: 0px;
  
    background-image: url(C:\Users\akja1\bootcamp\ScratchPad\background.jpg);
  }

@media screen and (min-width: 480px) {
    .day {
        min-height: 100px;
        margin-bottom: 10px;
    }

  }